body{
  background-color: rgb(19, 23, 29);
  color: white;
  font-size: 16px;
}

header{
  background-color: rgb(37, 45, 56);
  height: 60px;
  display: block;
}

#root{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.repo{
  text-align: left;
}

ul{
  list-style: none;
}

li{
  background-color: rgba(128, 128, 128, .3);
  width: auto;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 20px;
  padding: 2px;
  border-radius: 20px;
  cursor: pointer;
  border: solid 2px rgba(255, 255, 255, 0.5);
}

li:hover{
  background-color: rgba(128, 128, 128, .5);
  font-size: 17px;
}

li i{
  padding-top: 15px;
  margin-left: 5%;
  margin-bottom: 2%;
}

li h1{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

li div{
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(19, 23, 29);
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#avatar{
  height: 200px;
}

#username{
  text-decoration: underline;
}

form{
  padding-top: 15px;
}

form input{
  color: white;
  background-color: rgb(19, 23, 29);
  border: solid rgba(255, 255, 255, 0.5) 1px;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  position: absolute;
  left: 75px;
}

header i{
  position: absolute;
  left: 25px;
  top: 10px;
  font-size: 35px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-family: Verdana;
  visibility: hidden;
  width: 120px;
  background-color:  rgb(19, 23, 29);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  width: 120px;
  left: 50%;
  margin-left: -60px; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}